<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="note">NotePad</label>
        <textarea
          [value]="text | notepad : 10"
          (input)="limitword($event)"
          id="note"
          placeholder="type here (max 10 char)"
          class="form-control"
          rows="15"
        ></textarea>
        <p *ngIf="showError" class="text-danger">
          Word limit exceeded! Maximum 10 words allowed.
        </p>
        <p>
          word count:{{ getwordCount() }} / {{ maxWord }}
          <fa-icon [icon]="faCoffee"></fa-icon>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-12"> -->
<!-- {{ title | summary }} -->
<!-- the above code will only transform the value given by the summary pipe from that file -->
<!-- {{ title | summary : 10 }} -->
<!-- <br /> -->
<!-- the above code will pass the parameter number which is 10 thats the number of char we are going to show on the display that will be desiced by the coder dynamically  -->
<!-- {{ title | summary }} -->
<!-- if the user does not give the number parameter then the pipe ts file will check the condition 
        that is if the limit is not given then the default limit is set by pipe will sets -->
<!-- </div>
  </div>
</div> -->

<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Predefined Pipes</h3>
      <div class="card">
        <div class="card-header text-dark"> -->
<!-- {{ object.title | uppercase }} -->
<!-- this will convert the text in to uppercase -->
<!-- </div>
        <div class="card-body text-dark">
          <p class="mb-0">{{ object.student | number }}</p> -->
<!-- in this the number will print like seperated by , eg. 1,234 -->
<!-- <p class="mb-0">{{ object.rating | number : "2.2-2" }}</p> -->
<!-- in this the number will be converted in to fix size of decimal number 2.2-2 in this the first two will 
           set the digit before the point and 2-2 is first value is for min and second is for maximum digit the original value is
           4.45678 but the output value will be 04.45 -->
<!-- <p class="mb-0">{{ object.releasedate | date : "short" }}</p> -->
<!-- if we print only object.releasedate then this will print detail date value
           if we use argument date then this will print only month day year format -->
<!-- <p class="mb-0">{{ object.price | currency : "INR" }}</p>
          <p class="mb-0">{{ object.price | currency : "EUR" }}</p>
          <p class="mb-0">{{ object.price | currency : "AUD" }}</p> -->
<!-- here if we use only currency then the currency will be in doller 
           if we want to print indian rs then use : "INR" , "EUR>>EURO" , "AUD>>AUSTRIALIAN DOLLER" ,-->
<!-- </div>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />
  <p>
    {{ title | uppercase }} -->
<!-- this will convert the text in to uppercase -->
<!-- </p>
  <p>
    {{ title | lowercase }} -->
<!-- this will convert the text in to lowercase -->
<!-- </p>
  <p>
    {{ title | titlecase }} -->
<!-- this will convert the text in to first word capital rest small -->
<!-- </p>
</div> -->
